{% extends 'index.html' %}


{% block content %}
{% load static %}
<div class="recent_events">
    <div class="events_sm">
        <h2 class="txt-center">Events</h2>

        {% for event in events %}
            <div class="event_list_container">
                <img src="{{event.banner.url}}" alt="">
                <div class="data_container">
                        <h3 class="txt-center">{{ event.title }}</h3>
                        <p class="registration">Apply Before <span class="bold_span"> {{ event.resistration_end_date }} </span></p>
                        <p class="event_date mt-10">Game Will Starts From <span class="bold_span">{{ event.event_start_date }}</span></p>
                        <button class="leaderboard_button mt-5">Apply as Team</button>
                        <button class="leaderboard_button mt-5 outline">View Details</button>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}