
<!-- plz remove the Test Code before deployment -->

<div class="latest_news">
    <div class="latest_news_container">
        <h2>Latest News</h2>
        <div class="news_list">
            <div class="news_block">
                <div class="size_manager">
                    <img src="https://th.bing.com/th/id/R.a56219bc452bb812214638c0c931231e?rik=LxDpjd0tGMcLVA&pid=ImgRaw&r=0" alt="img1">
                    <p>Lorem ipsum, dolor Lorem ipsum dolor sit amet consect  sit amet consectetur adipisicing elit. Magni non, tenetur suscipit atque esse sint. Rem </p>
                    <button class="learn-more-bth">See More</button>
    
                </div>
            </div>

    <!-- Test Code use for loop after connecting to a database and use the django syntax -->
            <div class="news_block">
                <div class="size_manager">
                    <img src="https://th.bing.com/th/id/OIP.6QhVlwvwB4_Y19K3QJamIwHaHa?rs=1&pid=ImgDetMain" alt="img1">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni non, tenetur suscipit atque esse sint. Rem nostrum error qui harum magnam consequatur!........</p>
                    <button class="learn-more-bth">See More</button>
    
                </div>
            </div>
            <div class="news_block">
                <div class="size_manager">
                    <img src="https://th.bing.com/th/id/OIP.N6VTqO3BchYQ_3_DSF4ghQHaFj?rs=1&pid=ImgDetMain" alt="img1">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni non, tenetur suscipit atque esse sint. Rem nostrum error qui harum magnam consequatur!........</p>
                    <button class="learn-more-bth">See More</button>
    
                </div>
            </div>
            <div class="news_block">
                <div class="size_manager">
                    <img src="https://goalnepal.com/uploads/news/1516266529.jpg" alt="img1">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni non, tenetur suscipit atque esse sint. Rem nostrum error qui harum magnam consequatur!........</p>
                    <button class="learn-more-bth">See More</button>
    
                </div>
            </div>
            <div class="news_block">
                <div class="size_manager">
                    <img src="https://th.bing.com/th/id/R.a56219bc452bb812214638c0c931231e?rik=LxDpjd0tGMcLVA&pid=ImgRaw&r=0" alt="img1">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni non, tenetur suscipit atque esse sint. Rem nostrum error qui harum magnam consequatur!........</p>
                    <button class="learn-more-bth">See More</button>
    
                </div>
            </div>
            <div class="news_block">
                <div class="size_manager">
                    <img src="https://th.bing.com/th/id/R.a56219bc452bb812214638c0c931231e?rik=LxDpjd0tGMcLVA&pid=ImgRaw&r=0" alt="img1">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni non, tenetur suscipit atque esse sint. Rem nostrum error qui harum magnam consequatur!........</p>
                    <button class="learn-more-bth">See More</button>
    
                </div>
            </div>

            <div class="news_block">
                <div class="size_manager">
                    <img src="https://th.bing.com/th/id/R.a56219bc452bb812214638c0c931231e?rik=LxDpjd0tGMcLVA&pid=ImgRaw&r=0" alt="img1">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni non, tenetur suscipit atque esse sint. Rem nostrum error qui harum magnam consequatur!........</p>
                    <button class="learn-more-bth">See More</button>
    
                </div>
            </div>
        </div>
        <p class="more_news_link"><a href="#">...Click for More News</a></p>
    </div>
</div>