
<!-- plz remove the Test Code before deployment -->
{% load static%}

<div class="latest_news">
    <div class="latest_news_container">
        <h2>Latest News</h2>
        <div class="news_list">
            {% for news in latest_news %}
            <div class="news_block">
                <div class="size_manager">
                    <img src="{{news.image.url}}" alt="img1">
                    <p class="text" id="text">{{news.sm_text}} .....</p>
                    <p class="sm_text">{{news.created_at}}</p>
                    <a href="{% url 'news_detail' news.id %}" class="learn-more-bth">See More</a>
    
                </div>
            </div>
            {% endfor %}
        </div>
        <p class="more_news_link"><a href="#">...Click for More News</a></p>
    </div>
</div>
<script>


</script>