<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="icon" href="{% static 'images/favico.webp' %}" type="image/x-icon">
</head>
<body>
    <div class="login-page">
        {% if messages %}
        {% for message in messages %}
          <script>
            document.addEventListener("DOMContentLoaded", function() {
              // Check message tags to determine success or error
              var messageType = "{% if message.tags == 'error' %}error{% elif message.tags == 'success' %}success{% else %}info{% endif %}";
              showSnackBar("{{ message }}", messageType);
            });
          </script>
        {% endfor %}
      {% endif %}
        <div class="login-container">
            <div class="logo">
                <img src="{% static 'images/loginorganizer.png' %}" alt="">
            </div>
    

            {% block content %}
    
            {% endblock content %}
        </div>
    </div>
</body>

<script src="{% static 'js/alert.js' %}"></script>
</html>
