{% extends 'index.html' %}


{% block content %}
{% load static %}

<div class="main_page_container match_page simulation">
        
    
    <div class="alert_box" id="component">
        {% include 'game/alerts/goal_alert.html' %}
        {% include 'game/alerts/foul_alert.html' %}
        {% include 'game/alerts/substitution_alert.html' %}
    </div>

    <form action="" id="simulation-form">{%csrf_token%}</form>
    <div class="sticky-container">
        <div class="match_vs_box">
            <div class="vs_box">
                <p class="vs_text">Vs</p>
            </div>
            <div class="team team1">
                <div class="detail">
                    <div class="avatar">
                        <img src="https://picsum.photos/100" alt="">
                        
                    </div>
                    <p>{{match.team1.team.name}}</p>
                </div>
                <div class="score" id="team1-score">{{count.team1.total_goals}}</div>
            </div>
            <div class="team team2">
                <div class="score right" id="team2-score">{{count.team2.total_goals}}</div>
                <div class="detail">
                    <p >{{match.team2.team.name}}</p>
                <div class="avatar">
                    <img src="https://picsum.photos/101" alt="">
    
                </div>
                </div>
            </div>
        </div>
    
        <div class="match_details">
            <div class="holder time_container center">
                <div class="block1 block">

                    <button onclick="updateGameTimeData('{{match.id}}')">Refresh time</button>
                    <!-- <p class="match_date_time">{{match.time_manager.start_time}} </p> -->
                     
                    <P id="game-start-time">First Half Start Time : {% if match.time_manager.first_half_start_time%}{{match.time_manager.first_half_start_time}}  {% else %} Not Started Yet( Assumed to start on {{match.time_manager.start_time}}) {%endif%}</P>
                    <p id="game-total-duration">Duration: {{event.match_duration}}</p>
                </div>

                <div>
                    <p id="game-half-duration"></p>
                    <p id="game-total-time-running" class="timer_box timer" data-timer-type="h-m-s"></p>
                    <p id="game-total-time-remaining"></p>

                </div>

                <div class="block">
                    <p id="game-total-remaning-time">Remaning time: 0</p>
                    <p id="game-total-leakage-time">Leakage Time : 00:00:00</p>
                </div>
            </div>
            <div class="holder center">
                <button class="global_btn outline" id="start-match-button" onclick="handleLoadGameRecentData('{{match.id}}')">Load Recent Data</button>

                <button class="global_btn plain" id="pause-resume-button" onclick="handleLoadPauseResumeData('{{match.id}}')">
                    Load Time Data
                </button>

            </div>
    
            <div class="holder center">
                <button class="global_btn error" onclick="handleOpenFoulAlert()">Add Foul</button>
                <!-- <a href=""><button class="global_btn">Add Freekick</button></a>
                <a href=""><button class="global_btn warning">Add Penalty</button></a>
                <a href=""><button class="global_btn">Add Corner</button></a> -->
                <button class="global_btn secondary" onclick="handleOpenSubstitutionBox()">Substitution</button>
                <button class="global_btn success goal_btn" type="button" onclick="handleOpenGoalAlert()">Add Goal</button>
                <!-- <button class="global_btn success goal_btn" type="button" onclick="handleOpenGoalAlert()">Reload</button> -->
            </div>
    
            <div class="holder center">
    
            </div>
        </div>
    </div>


    <div class="player_details">
        <div class="team">
            <p>Active Players ({{count.team1.active}})</p>
            <table class="responsive-table">
                <thead>
                    <tr>
                        <th>Select</th>
                        <th hidden>teamid</th>
                        <th hidden>teamname</th>
                        <th>JERSEY</th>
                        <th>NAME</th>
                        <th>G</th>
                        <th>F</th>
                    </tr>
                </thead>
                <tbody>
                    {% for player in player1.active_players %}
                    <tr class="select-checkbox-row" data-player-id="{{ player.id }}">
                        <td ><input type="checkbox" class="select-checkbox" value="{{player.id}}"></td>
                        <td id="team_name" hidden>{{player.team.name}}</td>
                        <td id="jersey">{{player.jersey_no}}</td>
                        <td id="name">{{player.designation}} - {{player.name}}</td>
                        <td class="goal-count-1">{{ player.goal_count }}</td> <!-- Use class instead of ID -->
                        <td class="foul-count-1">{{ player.foul_count }}</td> <!-- Use class instead of ID -->

                    </tr>

                    {% endfor%}
                    <tr>
                        <td>Extra Players ({{count.team1.extra}})</td>
                        <!-- <td><button onclick="sendSelectedData()">send selected data</button></td> -->
                    </tr>
                    {% for player in player1.extra_players %}
                    <tr class="select-checkbox-row">
                        <td><input type="checkbox" class="select-checkbox" value="{{player.id}}"></td>
                        <td id="team_name" hidden>{{player.team.name}}</td>
                        <td id="jersey">{{player.jersey_no}}</td>
                        <td id="name">{{player.designation}} - {{player.name}}</td>
                        <td id="goal-count-1">{{ player.goal_count }}</td>
                        <td id="foul-count-2">{{ player.foul_count }}</td>
                        
                    </tr>

                    {% endfor%}
                </tbody>
            </table>

        </div>

        <div class="team">
            <p>Active Players ({{count.team2.active}})</p>
            <table class="responsive-table">
                <thead>
                    <tr>
                        <th>Select</th>
                        <th hidden>teamid</th>
                        <th hidden>teamname</th>
                        <th>JERSEY</th>
                        <th>NAME</th>
                        <th>G</th>
                        <th>F</th>
                    </tr>
                </thead>
                <tbody>
                    {% for player in player2.active_players %}
                    <tr class="select-checkbox-row" data-player-id="{{ player.id }}">
                        <td ><input type="checkbox" class="select-checkbox" value="{{player.id}}"></td>
                        <td id="team_name" hidden>{{player.team.name}}</td>
                        <td id="jersey">{{player.jersey_no}}</td>
                        <td id="name">{{player.designation}} - {{player.name}}</td>
                        <td class="goal-count-2">{{ player.goal_count }}</td> <!-- Use class instead of ID -->
                        <td class="foul-count-2">{{ player.foul_count }}</td> <!-- Use class instead of ID -->

                    </tr>

                    {% endfor%}
                    <tr>
                        <td>Extra Players ({{count.team2.extra}})</td>
                        <!-- <td><button onclick="sendSelectedData()">send selected data</button></td> -->
                    </tr>
                    {% for player in player2.extra_players %}
                    <tr class="select-checkbox-row">
                        <td><input type="checkbox" class="select-checkbox" value="{{player.id}}"></td>
                        <td id="team_name" hidden>{{player.team.name}}</td>
                        <td id="jersey">{{player.jersey_no}}</td>
                        <td id="name">{{player.designation}} - {{player.name}}</td>
                        <td id="goal-count-1">{{ player.goal_count }}</td>
                        <td id="foul-count-2">{{ player.foul_count }}</td>
                        
                    </tr>
                    {% endfor%}
                </tbody>
            </table>

        </div>
    </div>

    <script>
        const matchId = "{{match.id}}";
    </script>
    <script src="{% static 'js/game/game.js' %}"></script>
    <script src="{% static 'js/game/fetchGame.js' %}"></script>

{% endblock content %}