{% extends 'event\event_profile.html' %}

{% load static %}
{% block teamcontent %}

<div class="create_player_container basic-form">
    <h2 class="mt-10 white">{% if update %} Update Match {% else %} Create Match{% endif %}</h2>


    {% if form.errors %}
    <div class="error-messages">
        <p class="correct_error">Please correct the following errors:</p>
        <ul>
            {% for field, errors in form.errors.items %}
                <li class="white"><strong>{{ field }}:</strong> {{ errors|join:", " }}</li>

                <script>
                    document.addEventListener("DOMContentLoaded",function(){
                        showSnackBar(' {{ errors|join:", " }}','error')
                    })
                </script>
            {% endfor %}
        </ul>
    </div>
{% endif %}
    
<div class="form-container create_player">
    <form method="post" class="mt-10">
        {% csrf_token %}
        
                <!-- Name field -->
       <input type="hidden" name="event" value="{{event.id}}">
    
        <!-- Name field -->
       <div class="form-seperation-box flex">
        <div class="form-control">
            <label for="team1">Team 2</label>
            {{form.team1}}
           </div>
    
           <div class="form-control">
            <label for="team2">Team 2</label>
            {{form.team2}}
           </div>


           <div class="form-control">
            <label for="team2">Match Status</label>
            {{form.status}}
           </div>
            <!-- Age field -->
            
            <div class="form-control">
                <label for="address">Address</label>
                {{form.place}}
            </div>
            <!-- Match Date -->
            <div class="form-control">
                <label for="match_time">Match Date</label>
                {{form.match_date}}
                <span class="custom-error">{{form.match_date.errors}}</span>
            </div>
    
    
            <!-- match Time -->
            <div class="form-control">
                <label for="match_time">Match Time</label>
                {{form.match_time}}
            </div>
            <!-- match Time -->
            <div class="form-control">
                {{form.is_address_default}}
                <label for="id_is_address_default">Game address is default ( {{event.province}},{{event.district.name}},{{event.municipality.name}},{{event.area}})</label>
            </div>
        
    
            <!-- Address field -->
            <div class="form-control">
                <label for="address">Description</label>
                {{form.notes}}
            </div>
    
    
       </div>

    
      
        <!-- Submit button -->
         <div class="form-control">
        <button type="submit" class="global_btn">{% if update %} Update {% else %} Create{% endif %}</button>

         </div>
    </form>
</div>

</div>
{% endblock %}