{% extends 'event/event_index.html' %}


{%block content%}

    <div class="main_page_container match_page">
        
        <div class="event_description">
            <h2  class="txt-center">Event - {{event.title}}</h2>
        </div>

        <div class="match_vs_box">
            <div class="vs_box">
                <p class="vs_text">Vs</p>
            </div>
            <div class="team team1">
                <div class="detail">
                    <div class="avatar">
                        <img src="https://picsum.photos/100" alt="">
                        
                    </div>
                    <p>{{match.team1.team.name}}</p>
                </div>
                <div class="score">0</div>
            </div>
            <div class="team team2">
                <div class="score right">0</div>
                <div class="detail">
                    <p>{{match.team2.team.name}}</p>
                <div class="avatar">
                    <img src="https://picsum.photos/101" alt="">

                </div>
                </div>
            </div>
        </div>

        {% if match.schedule %}
        <div class="timer-container">
            <p>Match Start After</p>
            <div id="timer" class="timer_box timer">{{ match.match_date|date:"Y-m-d" }} {{match.match_time|date:"H:i:s"}}</div>
        </div>
        {% endif %}

        <div class="match_details">
            <div class="holder">
                <p>
                    Match Status - <span class="event_status {{match.status}}">{{match.status}}</span>
                    </p>
            </div>
            <div class="holder">
                <span class="icon material-symbols-outlined">
                    calendar_month
                    </span>
                    <p>Match on {{match.match_date}} at {{match.match_time}}</p>
            </div>

            <div class="holder">
                <span class="icon material-symbols-outlined">
                    location_on
                    </span>
                <p>{{event.province.name}}, {{event.district.name}} , {{event.municipality.name}} {{event.area}} {{match.address}}                 {% if match.is_address_default %}
                    <p>Match Location is {{event.area}}</p>
        
                    {% else %}
                    <p>Match area - {{match.place}}</p>
                    {% endif %}</p>

            </div>


            <div class="holder">
                <span class="icon material-symbols-outlined">
                    schedule
                    </span>
                    <p>Match Duration : {{event.match_duration}} </p>
            </div>

            <a href="{% url 'edit-match-admin' match.id %}"><button class="global_btn">Schedule / Edit Match Details</button></a>
            <a href="{% url 'edit-event' event.id %}?focus=id_match_duration"><button class="global_btn">Edit Match Duration</button></a>
            <button class="global_btn success">Run this Match</button>
        </div>



        <div class="player_details">
            <div class="team">
                <a href="{% url 'team-players' match.team1.team.id %}"><button class="global_btn">View / Edit Player Details</button></a>
                <table class="responsive-table">
                    <thead>
                        <tr>
                            <th>SN</th>
                            <th>NAME</th>
                            <th>POSITION</th>
                            <th>ACTIVE</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for player in player1 %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{player.name}} - {{player.jersey_no}}</td>

                            <td>{{player.designation}}</td>
                            <td style="text-align: center;">
                                <span class="verification {% if player.is_active %}verified{% endif %} material-symbols-outlined">
                                    check_circle
                                    </span>
                            </td>

                        </tr>

                        {% endfor%}
                    </tbody>
                </table>
            </div>
            <div class="team">
                <a href="{% url 'team-players' match.team2.team.id %}"><button class="global_btn">View / Edit Player Details</button></a>

                <table class="responsive-table">
                    <thead>
                        <tr>
                            <th>SN</th>
                            <th>NAME</th>
                            <th>POSITION</th>
                            <th>ACTIVE</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for player in player2 %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{player.name}} - {{player.jersey_no}}</td>
                            <td>{{player.designation}}</td>
                            <td style="text-align: center;">
                                <span class="verification {% if player.is_active %}verified{% endif %} material-symbols-outlined">
                                    check_circle
                                    </span>
                            </td>
                        </tr>

                        {% endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}