
<div class="coach_info">
    <div class="box_sm">
      <div class="img_box">
        <img src="https://img.freepik.com/free-photo/3d-illustration-cartoon-business-character-with-round-frame-gray-background_1142-51766.jpg?t=st=1731216684~exp=1731220284~hmac=3910133e285d433f4ea8107dedd61d364bfe89c5338bbceb88da96dfed27d132&w=826" alt="">
        </div>
        <div class="detail_box">
          <h3>COACH ANIL WAGLE</h3>
  
          <p class="mt-10">anil.wagle808@gmail.com</p>
          <p class="mt-5">Age : 50 Years</p>
  
          <p class="mt-10">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae, doloremque.</p>
  
          <button class="global_btn">Edit Coach</button>
        </div>
    </div>
  </div>
  
  
  
  <div class="item-center">
    <a href="players">
    <button class="global_btn">View Players</button>
    </a>
  </div>
  
  