{% extends 'index.html' %}


{% block content %}

<div class="main_team_request_container">
    <div class="main_form_container">
        <div class="image_container">
            <img src="https://th.bing.com/th/id/R.f310137ff80cddb1010ecd94f844ac76?rik=S8Kvren8U7hMYQ&pid=ImgRaw&r=0" alt="">
        </div>

        <div class="form-container">
            <h2>Thank you For Requesting</h2>
            <p>Mail Will be forwarded to your registered Email address to create a team if appoved</p>
        </div>
    </div>
</div>

{% endblock %}