{% extends 'index.html' %}

{% load static %}
{% block content %}

<div class="page_container">
    <h2 class="header">Teams</h2>

    <div class="filter_box">
        <a href="{% url 'submit_team_request' %}">Request For New Team</a>
        <input type="search" placeholder="Search"/>
    </div>
   <div class="team_container">
    {% for team in teams %}

    <div class="card">
        <img src="{{ team.logo.url }}" alt="John">
        <h2>{{ team.name }}</h2>
        <p class="title">{{team.sports_genere}} Team</p>
        <p>Address - {{team.address}}</p>
        <!-- <div style="margin: 24px 0;">
          <a href="#"><i class="fa fa-dribbble"></i></a> 
          <a href="#"><i class="fa fa-twitter"></i></a>  
          <a href="#"><i class="fa fa-linkedin"></i></a>  
          <a href="#"><i class="fa fa-facebook"></i></a> 
        </div> -->
        <a href="{% url 'team_profile' team.id %}"><button>View More</button></a>
      </div>
      {% endfor %}
   </div>
</div>


{% endblock %}