{% extends 'event/event_index.html' %} {% load static %} {% block content %}



<button onclick="showSnackBar()">show snack</button>

<div class="user_profile seller_profile_container">
  <div class="seller_profile_sm">
    <div class="banner_container">
      <div
        class="img_container"
        style="background-image: url('{% if team.banner %}{{ team.banner.url }}{% else %}https://th.bing.com/th/id/OIP.M24CMUk9pgKAZgXZofFr4gHaCH?rs=1&pid=ImgDetMain{% endif %}');"
      ></div>
      <div class="profile_picture">
        <div class="img_box">
          {% if team.logo %}
          <img src="{{ team.logo.url }}" alt="" />

          {% else %}

          <img src="https://th.bing.com/th/id/OIG1.egQEJxg7JTBbpWL.xSuQ?pid=ImgGn" alt="">
          {% endif %}
        </div>
        <div class="details">
          <h2>{{ team.name }} <span class="verification {% if team.is_verified %}verified{% else %}unverified{% endif %}">{% if team.is_verified %}verified{% else %}unverified{% endif %}</span></h2>
          <p>{{ team.email }}</p>
      <button class="global_btn">Edit Profile</button>

        </div>
      </div>
    </div>
    

  {% if basic_detail %}
  {% include 'teams/basic_detail.html' %}
  {% endif %}




{% block teamcontent %}

{% endblock teamcontent %}



    
    <p></p>
    
  </div>
  {% endblock %}
</div>
