{% load static %}

<button class="global_btn" onclick="handleOpenGoalAlert()">asd alert</button>

<form class="custom_alert_box goal_alert_box dialog-overlay"  id="goal-alert-box" onsubmit="addGoalFromForm(event)">
    {% csrf_token %}
    <input type="text" hidden value="{{match.id}}" name="match">
    <input type="text" hidden name="player" id="player">
    <div class="size_manager dialog goal_alert">
        <div class="side side1">
            <h1 class="top_header txt-center">Goal</h1>
        <div class="icon_box">
            <!-- <img class="_img" src="{% static 'images/footbg.png' %}" alt=""> -->
             {% include 'components/jersey.html' %}
        </div>

        <div class="detail_box">
            <p class="alert-header" id="header">ADD GOAL</p>
            <!-- <p id="sub-header"></p> -->
        </div>
        </div>

          <div class="side side2">

            <div class="form-control">
                    <p>Select Goal Type</p>
                   {% for value,label in goal_type_choices %}

                   <div class="custom-radio">
                    <input type="radio" id="{{value}}" name="goal_type" value="{{value}}">
                    <label for="{{value}}" class="radio-label">{{label}}</label>
                </div>

                   {% endfor %}
            </div>

            <div class="form-control mt-10">
                <label for="checkbox">Add Current Time</label>
                <input type="checkbox" id="checkbox">
            </div>
            <div class="form-control" id="time-input-box">
                <label for="time-input">Enter Time (24 hr format)</label>
                <br>
                <input type="text" class="time" id="custom-time" name="goal_time" placeholder="HH:mm:ss">
            </div>
        <div class="button_box">
            <button class="global_btn success goal">Goal</button>
            <button class="global_btn outline" onclick="handleCloseAlerts()" type="button">Cancel</button>

        </div>
          </div>
    </div>
  </form>

