<div class="point_table_container">
    <h2>Point Table & Team Status</h2>
    <div class="size_manager">
        <div class="team_table">
            <table>
                <thead>
                    <tr>
                        <th>POSITION</th>
                        <th>TEAM</th>
                        <th>POINTS</th>
                        <th>STATUS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Sundarbazzer Woda 1</td>
                        <td>4</td>
                        <td>IN MATCH</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Sundarbazzer Woda 2</td>
                        <td>3</td>
                        <td>IN MATCH</td>
                    </tr>

                    <tr>
                        <td>3</td>
                        <td>Sundarbazzer Woda 2</td>
                        <td>0</td>
                        <td>PENDING</td>
                    </tr>

                    <tr>
                        <td>4</td>
                        <td>Sundarbazzer Woda 2</td>
                        <td>0</td>
                        <td>ELIMINATED</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Sundarbazzer Woda 2</td>
                        <td>3</td>
                        <td>IN MATCH</td>
                    </tr>

                    <tr>
                        <td>6</td>
                        <td>Sundarbazzer Woda 2</td>
                        <td>0</td>
                        <td>PENDING</td>
                    </tr>

                    <tr>
                        <td>7</td>
                        <td>Sundarbazzer Woda 2</td>
                        <td>0</td>
                        <td>ELIMINATED</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Sundarbazzer Woda 2</td>
                        <td>3</td>
                        <td>IN MATCH</td>
                    </tr>

                    <tr>
                        <td>9</td>
                        <td>Sundarbazzer Woda 2</td>
                        <td>0</td>
                        <td>PENDING</td>
                    </tr>

                    <tr>
                        <td>10</td>
                        <td>Sundarbazzer Woda 2</td>
                        <td>0</td>
                        <td>ELIMINATED</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>