<div class="point_table_container">
    <h2>Point Table & Team Status</h2>
    <div class="size_manager">
        <div class="team_table">
            <table>
                <thead>
                    <tr>
                        <th>SYMBOL</th>
                        <th>TEAM</th>
                        <th>POINTS</th>
                        <th>STATUS</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in point_table %}

                        <tr>
                            <td>{{data.team.team_code}}</td>
                            <td>{{data.team}}</td>
                            <td>{{data.points}}</td>
                            <td>{{data.status}}</td>
                        </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>