<div class="tie_sheet_container">
    <h2>Tie Sheet (Match Schedule)</h2>
    <div class="size_manager">


        <!-- Seperate  -->
        {%if tie_sheet%}
        {% for match in tie_sheet %}

        {% if not match.match_complete %}
        <div class="match_container">
            <div class="matches">
                <span>
                    <p>DATE: {{match.match_date}}</p>
                    <p>DAY: {{match.match_day}}</p>
                </span>
                <div class="team_display">
                    <img src="https://th.bing.com/th/id/R.d6610c1b3fa250b8a5c2092a374499ec?rik=qSdVuhnH4qqxtA&pid=ImgRaw&r=0" alt="vs" class="vs_img">
                    <div class=" team team_a">
                        <img src="{{ match.team1.team.logo.url  }}" alt="avatar1" class="avatar">
                        <h3>{{match.team1.team.name}}</h3>
                    </div>
                    <div class="team team_b">
                        <img src="{{ match.team2.team.logo.url }}" alt="avatar2" class="avatar">
                        <h3>{{match.team2.team.name}}</h3>
                    </div>

                </div>
                <p class="game_place">{{match.place}}</p>
            </div>

        </div>
        {% endif %}
        {% endfor %}

        {% else %}
              <div class="match_container">
                <h2>No Matches</h2>
              </div>
        {% endif %}
    </div>
</div>