<div class="tie_sheet_container">
    <h2>Tie Sheet (Match Schedule)</h2>
    <div class="size_manager">


        <!-- Seperate  -->
        {%if tie_sheet%}
        {% for match in tie_sheet %}

        {% if not match.match_complete %}
        <div class="match_container">
            <div class="matches">
                <span>
                    <p>DATE: {{match.match_date}}</p>
                    <p>DAY: {{match.match_day}}</p>
                </span>
                <div class="team_display">
                    <img src="https://th.bing.com/th/id/R.d6610c1b3fa250b8a5c2092a374499ec?rik=qSdVuhnH4qqxtA&pid=ImgRaw&r=0" alt="vs" class="vs_img">
                    <div class=" team team_a">
                        <img src="https://th.bing.com/th/id/R.377c277a2d767d9620e32239d3865eb6?rik=U1aML%2fr0fC5uLQ&riu=http%3a%2f%2fmicras.org%2fwiki%2fimages%2f7%2f77%2fVictoria_national_football_team_logo_2014.png&ehk=eY4oHjvavuIAlqY%2bzpCC3v0FSB9TNFrlKlZJqWI8NXI%3d&risl=&pid=ImgRaw&r=0" alt="avatar1" class="avatar">
                        <h3>{{match.team1}}</h3>
                    </div>
                    <div class="team team_b">
                        <img src="https://th.bing.com/th/id/R.866293b2d07645dab4b98801efd8b7b1?rik=3KEICKxb1wwD2A&pid=ImgRaw&r=0" alt="avatar2" class="avatar">
                        <h3>{{match.team2}}</h3>
                    </div>

                </div>
                <p class="game_place">{{match.place}}</p>
            </div>

        </div>
        {% endif %}
        {% endfor %}

        {% else %}
              <div class="match_container">
                <h2>No Matches</h2>
              </div>
        {% endif %}
    </div>
</div>