{% load static %}
<div class="homepage">
    <section>
        <h1>
            2023<br><span style="font-size: 90px;">SundarBazzer<br>Games</span>
        </h1>
        <p>Champions' empowerment, excellence nurtured <br>- Welcome to Sundarbazzer Sports, where dedication leads to success.</p>

        <button class="leaderboard_button">Recent Leaderboard <i class="fas fa-external-link-alt"></i></i></button>
    </section>
</div>

<!-- Sponsors Block -->
<!-- We have a block of code contaning sponsors list for home page if you want sponsors list to be shown on homepage go on commits on anilbranch and copy the code - Commit Details (nov 26 2023 - Sponsors Code Initiated) -->

<div class="about_page">
    <div class="about_container">
        <h1>Welcome <br> Sundarbazzer Sports Portal</h1>
        <p>
            Sundarbazzer Sports Organization in Lamjung excels in organizing online sports data. Specializing in match statistics, live updates, and innovative dashboards, we offer comprehensive insights into tournaments, player performances, and standings. Our meticulously crafted leaderboards showcase rankings and scores across diverse sporting events, reflecting our commitment to accuracy. Dedicated to revolutionizing sports information accessibility, we cater to passionate fans and industry professionals alike, aiming to redefine standards in online sports data representation and enhance the overall sports experience.</p>
        </div>
        <img src="https://th.bing.com/th/id/R.f6edf23fddfe1d3b29b140550eff3cf1?rik=SaICZb4io1EAsA&riu=http%3a%2f%2ficonsdb.com%2ficons%2fdownload%2fyellow%2fsoccer-4-256.png&ehk=lPZc4YxL9rB6UE6xzkhmsMpPr%2fvTMlNjbcluVAO1EK0%3d&risl=&pid=ImgRaw&r=0" alt="football">
</div>