
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;;
    color: white;
}

h1{
    font-size: 70px;
    color: rgb(212, 187, 216);
}

p{
    font-size: 20px;
    color: rgb(197, 197, 197);
}
body,html{
    max-width: 1980px;
    margin: auto;
}

body{
    background-color: #000610;
    padding: 20px;
}
li{
    list-style-type: none;
}

a{
    text-decoration: none;
}
nav{
    height: 70px;
    z-index: 1;
    width: 100%;
    // border: 5px solid white;
    display: flex;
    justify-content: space-around;
    .part1{
        logo{
            img{
                
                height: 70px;
                filter: grayscale(100);
            }
        }
    }
    .part2{
        // border: 2px solid blue;
        width: 60%;
        display: flex;
        position: relative;
        place-content:center;
        ul{
            position: absolute;
            right: 0;
            top: 5px;
            // border: 5px solid green;
            display: flex;
            // place-content: center;
            place-items: center;
            justify-content: space-between;
            width: 60%;
            li{
                // padding: 15px;
                font-size: 17px;
            }
            .join_now_button{
                border: 2px solid white;
                padding: 5px;
            }
        }
    }
}

.homepage{
    height: 90vh;
    width: 100%;
    // border: 5px solid white;
    background-image: url('../images/sundarbg2.jpg');
    background-position: center right;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    position: relative;


    section{
        // border: 5px solid white;
        position: absolute;
        bottom: 10%;
        margin-left: 90px;
        width: 50%;

        h1{
            padding-bottom: 20px;
            color: rgb(238, 212, 255);
        }
    }
}

.home_sponsors{
    // border: 5px solid white;
    padding-top: 80px;
    display: flex;
    place-content: center;
    place-items: center;
    .logo_container{
        width: 70%;
        // test Code for Sponsors Homepage
        ul{
            display: flex;
            justify-content: space-around;
            padding-left: 20px;
            place-items: center;
    
            li{
                font-size: 30px;
                font-weight: 800;
                color: gray;
            }
        }
    }
}

.leaderboard_button{
    width: 220px;
    height: 44px;
    color: black;
    background-color: yellow;
    border: none;
    border-radius: 2px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
    cursor: pointer;
    i{
        color: black;
    }
}


.about_page{
    padding: 90px;
    display: flex;
    place-content: center;
    .about_container{
        text-align: center;
        width: 80%;
        h1{
            font-size: 60px;
        }
        p{
            margin-top: 30px;
        }
    }
}