@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  color: rgb(224, 224, 224);
}

h1 {
  font-size: 70px;
  color: rgb(199, 199, 199);
}

p {
  font-size: 20px;
  color: rgb(197, 197, 197);
}

body,
html {
  max-width: 1980px;
  margin: auto;
}

body {
  background-color: #000610;
  padding: 20px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

nav {
  height: 70px;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
nav .part1 logo {
  cursor: pointer;
}
nav .part1 logo img {
  height: 70px;
  filter: grayscale(100);
}
nav .part2 {
  width: 60%;
  display: flex;
  position: relative;
  place-content: center;
}
nav .part2 ul {
  position: absolute;
  right: 0;
  top: 5px;
  display: flex;
  place-items: center;
  justify-content: space-between;
  width: 60%;
}
nav .part2 ul li {
  font-size: 17px;
}
nav .part2 ul .join_now_button {
  border: 2px solid white;
  padding: 5px;
}
nav .part3 {
  display: none;
}

.homepage {
  height: 90vh;
  width: 100%;
  background-image: url("../images/sundarbg2.jpg");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  position: relative;
}
.homepage section {
  position: absolute;
  bottom: 10%;
  margin-left: 90px;
  width: 50%;
}
.homepage section h1 {
  padding-bottom: 20px;
  color: rgb(238, 212, 255);
}
.homepage section h1 span {
  font-size: 90px;
}

.home_sponsors {
  padding-top: 80px;
  display: flex;
  place-content: center;
  place-items: center;
}
.home_sponsors .logo_container {
  width: 70%;
}
.home_sponsors .logo_container ul {
  display: flex;
  justify-content: space-around;
  padding-left: 20px;
  place-items: center;
}
.home_sponsors .logo_container ul li {
  font-size: 30px;
  font-weight: 800;
  color: gray;
}

.leaderboard_button {
  width: 220px;
  height: 44px;
  color: black;
  background-color: yellow;
  border: none;
  border-radius: 2px;
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
  cursor: pointer;
}
.leaderboard_button i {
  color: black;
}

.about_page {
  padding: 90px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  height: 90vh;
}
.about_page .about_container {
  text-align: center;
  width: 80%;
}
.about_page .about_container h1 {
  font-size: 60px;
}
.about_page .about_container p {
  margin-top: 30px;
}
.about_page img {
  margin-top: 50px;
}

.recent_events {
  padding: 90px;
}
.recent_events .recent_event_container h2 {
  padding: 20px;
  font-size: 30px;
}
.recent_events .recent_event_container table {
  border-collapse: collapse;
  width: 100%;
  font-size: 18px;
}
.recent_events .recent_event_container table thead {
  border-bottom: 1px solid gray;
}
.recent_events .recent_event_container table thead tr {
  border: none;
}
.recent_events .recent_event_container table td,
.recent_events .recent_event_container table th {
  text-align: left;
  padding: 15px;
}
.recent_events .recent_event_container table tbody td {
  color: gray;
}
.recent_events .recent_event_container table th {
  font-size: 18px;
}
.recent_events .recent_event_container table .td_event {
  max-width: 350px;
}
.recent_events .recent_event_container table tr {
  border-bottom: 0.1px dotted gray;
  height: 127px;
}

.learn-more-bth {
  border: 1px solid gray;
  padding: 10px;
  width: 100%;
  text-align: center;
  color: rgb(39, 38, 38);
  background-color: white;
  font-weight: bold;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.latest_news .latest_news_container {
  padding: 90px;
}
.latest_news .latest_news_container h2 {
  text-align: center;
  font-size: 35px;
}
.latest_news .latest_news_container .news_list {
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  justify-content: space-between;
  gap: 20px;
  margin-top: 90px;
}
.latest_news .latest_news_container .news_list .news_block {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(132, 132, 132);
}
.latest_news .latest_news_container .news_list .news_block .size_manager {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.latest_news .latest_news_container .news_list .news_block .size_manager img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 5px;
}
.latest_news .latest_news_container .news_list .news_block .size_manager p {
  margin-top: 10px;
  font-size: 1rem;
}
.latest_news .latest_news_container .news_list .news_block .size_manager button {
  margin-top: 10px;
  width: 100%;
}
.latest_news .latest_news_container .more_news_link {
  margin-top: 30px;
  text-align: center;
}
.latest_news .latest_news_container .more_news_link a {
  color: yellow;
}

.accordin_container {
  padding: 130px;
}
.accordin_container h1 {
  text-align: center;
  color: rgb(220, 220, 220);
}
.accordin_container .size_manager {
  padding: 100px;
}

.accordion {
  margin-bottom: 10px;
  font-size: 18px;
  color: gray;
  border-bottom: 0.5px dotted rgb(77, 77, 77);
  padding: 20px;
}
.accordion .accordion-header {
  background-color: transparent;
  padding: 10px;
  cursor: pointer;
}
.accordion .accordion-header i {
  float: right;
}
.accordion .accordion-content {
  display: none;
  padding: 10px;
}
.accordion .accordion-content p {
  font-size: 16px;
}
.accordion.show .accordion-content {
  display: block;
}

.leaderboard_container .size_manager h1 {
  text-align: center;
  margin-top: 30px;
  font-size: 60px;
}
.leaderboard_container .size_manager .toggle_box {
  padding: 30px;
  display: flex;
  place-content: center;
}
.leaderboard_container .size_manager .toggle_box .options {
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
}
.leaderboard_container .size_manager .toggle_box .options a {
  font-size: 18px;
  padding: 15px;
  cursor: pointer;
}
.leaderboard_container .size_manager .toggle_box .options .active {
  background-color: white;
  color: black;
  border-radius: 5px;
}

.point_table_container {
  padding-bottom: 150px;
  width: 100%;
  margin-top: 50px;
}
.point_table_container h2 {
  text-align: center;
}
.point_table_container .size_manager {
  padding: 100px;
  padding-top: 50px;
}
.point_table_container .size_manager .team_table table {
  border-collapse: collapse;
  width: 100%;
}
.point_table_container .size_manager .team_table table td, .point_table_container .size_manager .team_table table th {
  border-bottom: 1px solid rgb(73, 73, 73);
  text-align: left;
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.point_table_container .size_manager .team_table table tr td:first-child {
  width: 100px;
}
.point_table_container .size_manager .team_table table tr td:nth-child(3) {
  width: 100px;
}
.point_table_container .size_manager .team_table table tr td:last-child {
  width: 150px;
}
.point_table_container .size_manager .team_table table thead {
  font-size: 18px;
}
.point_table_container .size_manager .team_table table tbody {
  font-size: 16px;
}

.tie_sheet_container h2 {
  text-align: center;
}
.tie_sheet_container .size_manager {
  padding: 90px;
}
.tie_sheet_container .size_manager .match_container {
  margin-top: 50px;
  border: 2px solid gray;
  border-radius: 10px;
}
.tie_sheet_container .size_manager .match_container .matches {
  padding: 10px;
}
.tie_sheet_container .size_manager .match_container .matches span {
  padding: 10px;
  display: flex;
  justify-content: space-around;
}
.tie_sheet_container .size_manager .match_container .matches .team_display {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.tie_sheet_container .size_manager .match_container .matches .team_display .team {
  width: 50%;
  display: flex;
  gap: 10px;
  place-content: center;
  place-items: center;
  padding: 10px;
}
.tie_sheet_container .size_manager .match_container .matches .team_display .team_a {
  border-right: none;
}
.tie_sheet_container .size_manager .match_container .matches .team_display .team_b {
  border-left: none;
}
.tie_sheet_container .size_manager .match_container .matches .team_display .vs_img {
  vertical-align: middle;
  height: 100px;
  width: 100px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
.tie_sheet_container .size_manager .match_container .matches .game_place {
  padding: 10px;
  text-align: center;
}

@media screen and (max-width: 800px) {
  p {
    font-size: 18px;
  }
  .footer-nav {
    float: left;
    width: 100%;
    margin-top: 100px;
  }
  .footer-nav .part2 {
    display: block;
    width: 100%;
    display: flex;
  }
  .footer-nav .part2 ul {
    display: block;
  }
  .footer-nav .part2 ul li {
    display: none;
  }
  .footer-nav .part2 ul li:last-child {
    display: block;
    text-align: center;
    position: absolute;
    right: 10px;
    width: 150px;
    transform: translateY(-50px);
  }
  .footer-nav .part3 {
    display: none;
  }
  nav {
    display: block;
    position: relative;
  }
  nav .part2 {
    display: none;
  }
  nav .part2.responsive {
    display: block;
    position: relative;
    width: 100%;
  }
  nav .part2.responsive ul {
    display: block;
    background-color: black;
    color: white;
    box-shadow: 0px 0px 2px gray;
    padding: 20px;
    position: absolute;
    width: 100%;
  }
  nav .part2.responsive ul li {
    padding: 15px;
  }
  nav .part3 {
    display: block;
    position: absolute;
    top: 30%;
    right: 20px;
  }
  nav .part3 .menu-icon,
  nav .part3 .close-icon {
    transition: 0.5s ease;
    font-size: 30px;
    cursor: pointer;
  }
  nav .part3 .active {
    display: none;
  }
  .homepage {
    background-position: top;
    height: 80vh;
  }
  .homepage section {
    margin: 0;
    top: 45%;
    width: 100%;
  }
  .homepage section h1 {
    font-size: 50px;
  }
  .homepage section h1 span {
    font-size: 60px;
  }
  .about_page {
    padding: 0px;
    margin-top: 100px;
    display: block;
  }
  .about_page .about_container {
    width: 100%;
  }
  .about_page .about_container h1 {
    font-size: 50px;
  }
  .about_page .about_container p {
    text-align: justify;
  }
  .about_page img {
    display: none;
  }
  .recent_events {
    padding: 0px;
  }
  .recent_events .recent_event_container table tbody td {
    font-size: 14px;
  }
  .recent_events .recent_event_container table .learn-more-bth {
    width: 100px;
    font-size: 14px;
  }
  .latest_news {
    padding-top: 40px;
  }
  .latest_news .latest_news_container {
    padding: 0;
  }
  .latest_news .latest_news_container .news_list {
    margin-top: 30px;
  }
  .latest_news .latest_news_container .news_list .news_block {
    width: 100%;
  }
  .accordin_container {
    padding: 0px;
    padding-top: 100px;
  }
  .accordin_container h1 {
    font-size: 60px;
    padding-bottom: 50px;
  }
  .accordin_container .size_manager {
    padding: 0;
  }
  .point_table_container .size_manager {
    padding: 0px;
  }
  .point_table_container .size_manager .team_table {
    margin-top: 20px;
  }
  .point_table_container .size_manager .team_table table {
    text-align: center;
  }
  .point_table_container .size_manager .team_table table td, .point_table_container .size_manager .team_table table th {
    padding: 7px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .tie_sheet_container .size_manager {
    padding: 0;
  }
  .tie_sheet_container .size_manager .match_container {
    padding: 0;
  }
  .tie_sheet_container .size_manager .match_container .matches {
    padding: 0;
  }
  .tie_sheet_container .size_manager .match_container .matches .team_display .team {
    flex-direction: column;
    text-align: center;
  }
  .tie_sheet_container .size_manager .match_container .matches .team_display .vs_img {
    height: 50px;
    width: 50px;
    transform: translate(-50%, 10%);
  }
}
.main_latest_news {
  min-height: 100vh;
  padding-bottom: 100px;
}
.main_latest_news .header {
  max-height: 500px;
  max-width: 100%;
  display: flex;
  margin-top: 20px;
}
.main_latest_news .header img {
  margin: auto;
  max-height: 400px;
  max-width: 100%;
}
.main_latest_news .body {
  color: white;
  margin-bottom: 100px;
  padding: 0px 100px;
  margin-top: 50px;
}
.main_latest_news .body p {
  text-align: justify;
}/*# sourceMappingURL=main.css.map */