<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <!-- Sidebar -->
        <div class="sidebar" id="sidebar">
            <div class="sidebar-header">
                <h1>Admin Panel</h1>

                <p>{{request.user}}</p>
            </div>
            <ul class="sidebar-list">
                <li><a href="#" class="sidebar-item">Dashboard</a></li>
                <li><a href="{% url 'team' %}" class="sidebar-item">Teams</a></li>
                <li><a href="#" class="sidebar-item">Matches</a></li>
                <li><a href="#" class="sidebar-item">Events</a></li>
                <li><a href="#" class="sidebar-item">Users</a></li>
                <li><a href="#" class="sidebar-item">Live</a></li>
                <li><a href="#" class="sidebar-item">Logout</a></li>
            </ul>
        </div>

        <div class="content">
            {% block content %}


            {% endblock content %}
        </div>
</div>
</body>
<script src="{% static 'js/index.js' %}"></script>
</html>