{% extends 'event\event_index.html' %}

{% load static %}
{% block content %}

<div class="responsive-table-box">

  <h2>Events</h2>
    <div class="filter_box">
        {% if permissions.is_organizer %}
        <a href="{% url 'create-event' %}">Create New Event</a>
        {% endif %}
        <div class="search">
           <input type="search" placeholder="Search"/>
           <button class="global_btn"><span class="material-symbols-outlined">
            search
            </span></button>
        </div>
    </div>
   <div class="team_container">

   </div>

   <!-- Popop alert for team deletiion -->

   {% if  permissions.is_organizer %}
  <form class="custom_alert_box" id="alert-box-active" onsubmit="handleSubmitVerifyTeam(event)">
    <!-- {% csrf_token %} -->
  </form>

  <form class="custom_alert_box"  id="alert-box-delete-team" onsubmit="handleDeleteTeam(event)">
    <!-- {% csrf_token %} -->
  </form>
  {% endif %}

   <form class="team_listing" id="team-form" method="post">
    {% csrf_token %}

    <table class="responsive-table">
      <tbody>
        <thead>
          <tr>
            <!-- <th><input type="checkbox" class="" id="selectAll"></th> -->
            <th>SN</th>
            <th>Event</th>
            <th>Entry Fee</th>
            <th>Type</th>
            <th>Stauts</th>
            <th>Age Limit</th>
            <th>Event Start Date</th>
            <th>Actions</th>
          </tr>
        </thead>


        <tbody>
          {% for event in events %}

              <tr>
                <!-- <td><input type="checkbox" class="select-checkbox"></td> -->
                <td>{{ forloop.counter|add:0 }}</td>
                <td>
                    <div class="table_avatar_box">
                        <div class="team team1">
                            <div class="avatar">
                                <img src="https://th.bing.com/th/id/OIP.dR0CzoqfuNucL5swbCLvaAHaHa?rs=1&pid=ImgDetMain" alt="">
                            </div>
                            <p>{{event.title}}</p>
                            
                        </div>
                    </div>
                </td>
                <td>{{event.entry_fee}}</td>
                <td>{{event.event_type}}</td>
                <td>
                  <span class="event_status {{event.status}}">{{event.status}}</span>
                </td>
                <td>{{event.event_age_limit}}</td>
                <td>{{event.event_start_date}} </td>
                <td>
                  <div class="td_actions">
                    <a href="{% url 'event-profile' event.id %}">
                    <button class="global_btn" type="button">
                      <span class="icon material-symbols-outlined">
                        visibility
                        </span>
                    </button>
                  </a>
                  {% if permissions.is_organizer %}
                  <a href="{% url 'edit-event' event.id %}">
                    <button class="global_btn outline" type="button">
                      <span class="icon material-symbols-outlined">
                        edit
                        </span>
                    </button>
                  </a>
                  {% endif %}
                  </div>
                  
                </td>
              </tr>
            {% endfor %}
        </tbody>
      </tbody>
    </table>
  </form>

  <!-- <button onclick="sendSelectedData()">asdf</button> -->
  <div class="pagination">
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}" class="prev">
          <span class="material-symbols-outlined">
            arrow_back_ios
            </span>
        </a>
    {% else %}
        <span class="disabled">
          <span class="material-symbols-outlined">
            arrow_back_ios
            </span>
        </span>
    {% endif %}
  
    <!-- Page Number Links -->
    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <span class="active">{{ num }}</span>
        {% else %}
            <a href="?page={{ num }}" class="page-number">{{ num }}</a>
        {% endif %}
    {% endfor %}
  
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="next">
          <span class="material-symbols-outlined">
            arrow_forward_ios
            </span>
        </a>
    {% else %}
        <span class="disabled">
          <span class="material-symbols-outlined">
            arrow_forward_ios
            </span>
        </span>
    {% endif %}
  </div>
</div>




{% endblock %}